/* Open Sans font from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/* Basic CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
}

/* App background color and font behavior*/
body {
  background-color: #f4f6f8;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-display: fallback;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Resets styles of headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
}
